<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='style.css'/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <title>LastenBoom</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div class="brand">
                    <a href="index.html" class="brand">LastenBoom.fi</a>
                </div>
                <div>
                    <a href="card.html">Ostokori</a>
                    <a href="signin.html">Käyttäjätili</a>
                </div>
            </header>
            <main>
                <div class="carousel">
                    <div class="carousel-inner">
                        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                        <div class="carousel-item">
                            <!-- <span>Photo by <a href="https://unsplash.com/@sharonmccutcheon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sharon McCutcheon</a> on <a href="https://unsplash.com/s/photos/childrens-fashion?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> -->
                            <img src="https://images.unsplash.com/photo-1534012720143-f1777324373b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1448&q=80" title="Image by Sharon McCutcheon on Unsplash"/>
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                        <div class="carousel-item">
                            <!-- <span>Photo by <a href="https://unsplash.com/@daen_2chinda?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tanaphong Toochinda</a> on <a href="https://unsplash.com/s/photos/children?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> -->
                            <img src="https://images.unsplash.com/photo-1516627145497-ae6968895b74?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1448&q=80" title="Image by Tanaphong Toochinda on Unsplash"/>
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                        <div class="carousel-item">
                            <!-- <span>Photo by <a href="https://unsplash.com/@nate_dumlao?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Nathan Dumlao</a> on <a href="https://unsplash.com/s/photos/children-toys?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> -->
                            <img src="https://images.unsplash.com/photo-1602863211761-ee8d16967a5a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1448&q=80" title="Image by Nathan Dumlao on Unsplash"/>
                        </div>
                        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                        <label for="carousel-2" class="carousel-control next control-1">›</label>
                        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                        <label for="carousel-3" class="carousel-control next control-2">›</label>
                        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                        <label for="carousel-1" class="carousel-control next control-3">›</label>
                    </div>
                </div>
                <div class="row center products">
                    <div class="card">
                        <a href="product.html">
                            <!-- image size 860px by 830px -->
                            <!-- in ecommerce, JPEGs will be best bet. They provide the best quality for the smallest file size. -->
                            <img class="medium" src="./images/uniliina_laama.jpg" alt="product" />   
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Uuniliina, Laama</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">17.50 &#8364;</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size 860px by 830px -->
                            <!-- in ecommerce, JPEGs will be best bet. They provide the best quality for the smallest file size. -->
                            <img class="medium" src="./images/uniliina_laama.jpg" alt="product" />   
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Uuniliina, Laama</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">17.50 &#8364;</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size 860px by 830px -->
                            <!-- in ecommerce, JPEGs will be best bet. They provide the best quality for the smallest file size. -->
                            <img class="medium" src="./images/uniliina_laama.jpg" alt="product" />   
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Uuniliina, Laama</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">17.50 &#8364;</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size 860px by 830px -->
                            <!-- in ecommerce, JPEGs will be best bet. They provide the best quality for the smallest file size. -->
                            <img class="medium" src="./images/uniliina_laama.jpg" alt="product" />   
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Uuniliina, Laama</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">17.50 &#8364;</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size 860px by 830px -->
                            <!-- in ecommerce, JPEGs will be best bet. They provide the best quality for the smallest file size. -->
                            <img class="medium" src="./images/uniliina_laama.jpg" alt="product" />   
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Uuniliina, Laama</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">17.50 &#8364;</div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">
             All right reserved.
            </footer>
        </div>
    </body>
</html>